name: Ubuntu 22.04 g++ 10 Build

on:
  workflow_dispatch:
  push:
    branches: [test]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        build_type: [Debug, Release]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set g++ 10 as default
        run: sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-10 100

      - name: Show g++ version
        run: g++ --version

      - name: Configure CMake
        run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build ${{ matrix.build_type }}
        run: cmake --build build