name: macOS Clang Build

on:
    workflow_dispatch:
    push:
      branches: [test]

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Show clang version
        run: clang --version

      - name: Configure CMake
        run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release

      - name: Build Release
        run: cmake --build build