name: Windows 2022 MSVC 14.2 Build

on:
  workflow_dispatch:
  push:
    branches: [test]

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup MSVC environment
        uses: ilammy/msvc-dev-cmd@v1
        with:
          toolset: 14.2

      - name: Show cl version
        run: cl

      - name: Configure CMake
        run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release

      - name: Build Release
        run: cmake --build build